header {
    background: #2d4250;  
}
main {
    background: #3d5768;  
}
.portafolio-web {
    background: #1a2831;  
}
h1, h2, .enlace, p.eslogan{
    color: white;
    text-shadow: black 1px 1px 5px;
}
h2 a, .firma, h2 a:hover {
    text-decoration: none;
}
h2 a:hover {
    color: gold;
}
.foto-presentacion {
    border-radius: 25px;
    box-shadow: black 0px 0px 10px;
    max-width: 290px;
    width: 100%;
}
.division-contenido, footer, .card-body {
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */     
    text-align: center;
}
.card-body {
    color: white;
}
.division-contenido h2 {
    padding: 10px 0px 10px 0px;
    margin: 0;
}
.elemento {
    width: 260px;
    margin: 12.5px;
    box-shadow: black 0px 0px 3px;
    float: left;
}
@media only screen and (min-width: 300px){
    .contenedor {
        width: 285px;
    }
}
@media only screen and (min-width: 585px){
    .contenedor {
        width: 570px;
    }
}
@media only screen and (min-width: 870px){
    .contenedor {
        width: 855px;
    }
}
@media only screen and (min-width: 1160px){
    .contenedor {
        width: 1140px;
    }
}
.dev-web{
    max-width: 300px;
    width: 100%;
}
.firma {
    font-weight: bold;
    color: gold;
}
.creditos {
    letter-spacing: 1px;
    color: white;
    line-height: 42px;
}
footer {
    height: 60px;
}
.firma:hover{
    color: gold;
    text-decoration: none;
}
.container-lg {
    max-width: 1070px;
}
.badge {
    background-color: black;
}