/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat&family=Kalam:wght@300&family=Open+Sans&display=swap');

header {
    background-image: url('../img/portada-graphic-design.jpg'); 
}
main, .btn-color {
    background: #C9D6FF;  
}
.btn-color:hover {
    background: #a0b6ff;  
}
.portafolio-web {
    background-image: url('../img/lenguajes.jpg'); 
}
h1, h2, .enlace, p.eslogan{
    color: white;
    text-shadow: black 1px 1px 5px;
}
h1 {
    font-family: 'Bree Serif', serif;
}
p.eslogan {
    font-family: 'Caveat', cursive;
    letter-spacing: 0.5px;
}
h2 {
    font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 550px){
    h1 {
        font-size: 32px;
    }
    p.eslogan {
        font-size: 24px;
    }
    h2 {
        font-size: 26px;
    }
}
h2 a, .firma, h2 a:hover {
    text-decoration: none;
}
h2 a:hover {
    color: gold;
}
.foto-presentacion {
    border-radius: 25px;
    box-shadow: black 0px 0px 10px;
    max-width: 290px;
    width: 100%;
}
@media only screen and (max-width: 550px){
    .foto-presentacion {
        height: auto;
    }
}
.division-contenido, footer, .card-body {
    background: #16222A; 
    background: -webkit-linear-gradient(to top, #3A6073, #16222A); 
    background: linear-gradient(to top, #3A6073, #16222A); 
    text-align: center;
}
.card-body {
    color: white;
}
.division-contenido h2 {
    padding: 10px 0px 10px 0px;
    margin: 0;
}
.elemento {
    box-shadow: black 0px 0px 3px;
}
.dev-web{
    max-width: 300px;
    width: 100%;
}
.firma {
    font-weight: bold;
    color: gold;
}
.creditos {
    letter-spacing: 1.5px;
    color: white;
    line-height: 42px;
    font-family: 'Kalam', cursive;;
}
footer {
    min-height: 60px;
}
.firma:hover{
    color: gold;
    text-decoration: none;
}
.badge-firma {
    background-color: black;
}
.fotos-modal {
    width: 100%;
    height: auto;
}
.btn-cerrar:hover, .btn-cerrar {
    color: red !important;
}